{% extends 'account/base.html' %}
{% load i18n %}
{% load static %}
{% block title %} | Reset Password {% endblock title %}

{% block content %}

<h3 class="form-title reset-password">
    {% translate 'Reset password' %}
</h3>
<br>
<form method="post">

    {% csrf_token %}
    {{ form.new_password1 }}
    {{ form.new_password1.label_tag }}
    {{ form.new_password2 }}
    {{ form.new_password2.label_tag }}

    <input type="submit" class="client-info custom-btn" value="{% translate 'Reset' %}">

</form>




{% endblock content %}