{% extends 'account/base.html' %}
{% load i18n %}
{% load static %}
{% block title %} | Reset Password {% endblock title %}

{% block content %}


<h3 class="form-title reset-password">
    {% translate 'Reset password' %}
</h3>
<br>


<form method="post">

    {% csrf_token %}

    {{ form.email }}
    {{ form.email.label_tag }}
    <p class="form-text">
        {{ form.email.help_text }}
    </p>

    <input type="submit" class="client-info custom-btn" value="{% translate 'Send' %}">

</form>
<a class="clean-link" href="{% url 'account:login' %}">
    <input type="submit" class="client-info custom-btn" value="{% translate 'Back to login' %}">
</a>


{% endblock content %}