{% extends "shop/base.html" %}
{% load static %}

{% block title %}
{% if category %}{{ category.name }}{% else %}Products{% endif %}
{% endblock %}



{% block content %}
<div class="container mt-30">
    <div class="row">
        <div class="col-9">
            <h1>Search Result - "{{ keyword }}" ({% if condition %}{{ condition }}{% else %}All{% endif %})</h1>
            <hr>
            {% for product in products %}
            {% include 'shop/h_card.html' with product=product %}
            {% endfor %}
        </div>
        <div class="col-3">
            <nav class="nav flex-column sidebar">
                <a class="nav-link {% if not condition %} active {% endif %}" href="{% url 'shop:search_result' keyword=keyword %}">All</a>
                <a class="nav-link {% if condition == 'price' %} active {% endif %}" href="{% url 'shop:condition_search_result' keyword=keyword condition='price' %}">Price(Low to high)</a>
                <a class="nav-link {% if condition == 'latest' %} active {% endif %}" href="{% url 'shop:condition_search_result' keyword=keyword condition='latest' %}">Latest(New to old)</a>
            </nav>
        </div>
    </div>
</div>
{% endblock %}