{% extends "shop/base.html" %}
{% load static %}

{% block title %}
{% if category %}{{ category.name }}{% else %}Products{% endif %}
{% endblock %}



{% block content %}
<div class="container mt-30">
    <div class="row">
        <div class="col-3">
            <nav class="nav flex-column sidebar">
                <a class="nav-link {% if not category %} active {% endif %}" href="{% url 'shop:product_list' %}">All</a>
                {% for c in categories %}
                <a class="nav-link {% if c.slug == category.slug %} active {% endif %}" href="{{ c.get_absolute_url }}">{{ c.name }}</a>
                {% endfor %}
            </nav>
        </div>
        <div class="col-9">
            <h1>{% if category %}{{ category.name }}{% else %}Products{% endif %}</h1>
            <hr>
            <div class="row row-cols-1 row-cols-md-3 g-4">
                {% for product in products %}
                <div class="col">
                    {% include 'shop/card.html' with product=product %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}